<div class="modal fade" id="job-doc<%= job.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel"><strong><%= job.company %></strong> | <%= job.title %></h5>
        <button type="button" class="btn-close fs-6" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(job) do |f| %>
        <% unless job.cv.attached? %>
          <%= f.input :cv, as: :file, :label => "CV"  %>
        <% end %>
        <% unless job.cover_letter.attached? %>
          <%= f.input :cover_letter, as: :file %>
        <% end %>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>