<% emails.each do |email| %>           
  <%= link_to email.url, class: 'url-link', target: :_blank do %>
    <div class="email-info">
      <p class="m-0"><%= email.date.strftime('%b %d %Y') %></p>
      <p class="m-0"><strong><%= email.sender %></strong> | <%= email.from %> </p>
      <p class="opacity-75">Subject: <%= email.subject %></p>
    </div>
  <% end %>
<% end %>