<div class="job">
  <div class="accordion-item whole-job">
    <h2 class="accordion-header" id="flush-heading<%= job.id %>">
      <div class="d-flex justify-content-between align-items-start gap-3" style="width: 100%;">
        <div class="flex-grow-1 fs-6">
          <div class="d-flex gap-2 align-items-center">
            <p class="m-0"><strong><%= job.title %></strong></p>
            <%= link_to job.url, class: 'url-link', target: :_blank do %>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <% end %>
          </div>
          <p class="opacity-50"><%= job.company %></p>
          <p class="job-card-task-count">Tasks <%= job.tasks.where(done: true).count %> / <%= job.tasks.count %></p>
        </div>
        <div class="d-flex flex-column align-items-end">
          <button class="job-status <%= job.status %>" data-bs-toggle="modal" data-bs-target= "#job-status<%= job.id %>" >
            <%= job.status %>
          </button>
          <%= render "edit_status_modal", job: job %>
          <% if job.deadline.present? && job.status == 'pending' && job.deadline > Date.today %>
            <div class="job-deadline">
              <p class="m-0">Apply before</p>
              <p><strong><%= job.deadline.strftime('%b %d %Y') %></strong></p>
            </div>
          <% elsif job.deadline.present? && job.status == 'pending'%>
            <div class="job-deadline">
              <p class="m-0">Deadline passed</p>
              <p id="job-deadline-passed"><strong><%= job.deadline.strftime('%b %d %Y') %></strong></p>
            </div>
          <% end %>
        </div>
      </div>
      <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= job.id %>" aria-expanded="false" aria-controls="flush-collapse<%= job.id %>">
        <p class="text-center" style="font-size: 12px; opacity: 0.7;">Show more <i class="fa-solid fa-angle-down"></i></p>
      </button>
    </h2>
    <div id="flush-collapse<%= job.id %>" class="accordion-collapse collapse job-card-content" aria-labelledby="flush-heading<%= job.id %>" data-bs-parent="#accordionFlushExample">
      <div class="d-flex job-body justify-content-between">
        <div data-controller="add-task" class="to-do position-relative">
          <%= render 'tasks', tasks: job.tasks.order(:done, :created_at) %>
          <%= render 'jobs/task_form', job: job, task: @new_task %>
          <br>
          <br>
          <br>
          <div class="position-absolute bottom-0 d-flex gap-2">
            <% if job.cv.attached? %>
              <%= link_to cl_image_path(job.cv.key), target: :_blank, class: "job-doc-btn" do %>
                <i class="fa-solid fa-file"></i><span> CV</span>
              <% end %>
            <% end %>
            <% if job.cover_letter.attached? %>
              <%= link_to cl_image_path(job.cover_letter.key), target: :_blank, class: "job-doc-btn" do %>
                <i class="fa-solid fa-file"></i><span> Cover Letter</span>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="center-border"></div>
        <div class="notes d-flex flex-column" data-controller="edit-notes" >
          <%= simple_form_for job, html: {data: {edit_notes_target: "form", action: "submit->edit-notes#updateNote", novalidate: true}} do |form| %>
            <strong> <%= form.input :notes, input_html: {data: {edit_notes_target: "input", action: "focus->edit-notes#showButton blur->edit-notes#hideButton", novalidate: true}, :class => 'note-text no-bs-validation', onfocus: 'this.style.height = "";this.style.height = this.scrollHeight + "px"', :rows => "10"}%> </strong>
            <%= form.submit "Save", data: {edit_notes_target: "save"}, class: 'btn btn-sm hide ml-auto', style: "float: right;"  %>
          <% end %>
        </div>
      </div>
      <div class="appointments d-flex justify-content-between align-items-end pb-3">
        <div>
          <strong>Appointments</strong>
          <p class="appointment">no appointments</p>
        </div>
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target= "#jobs<%= job.id %>" >
            Edit
          </button>
          <%= render "modal", job: job %>
          <%= link_to 'Delete', job_path(job), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this job?" }, class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
