<div class="job">
  <div class="accordion-item whole-job">
    <h2 class="accordion-header" id="flush-heading<%= job.id %>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= job.id %>" aria-expanded="false" aria-controls="flush-collapse<%= job.id %>">
        <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
          <div class="w-50">
            <p class="m-0"><strong><%= job.title %></strong></p>
            <p class="opacity-50"><%= job.company %></p>
          </div>
          <p class="job-status <%= job.status %>"><%= job.status %></p>
        </div>
      </button>
    </h2>
    <div id="flush-collapse<%= job.id %>" class="accordion-collapse collapse job-card-content" aria-labelledby="flush-heading<%= job.id %>" data-bs-parent="#accordionFlushExample">
      <div class="d-flex job-body justify-content-between">
        <div data-controller="add-task" class="to-do">
          <%= render 'tasks', tasks: job.tasks.order(:done, :created_at) %>
          <%= render 'jobs/task_form', job: job, task: @new_task %>
        </div>
        <div class="center-border"></div>
        <div class="notes" data-controller="edit-notes" >
          <%= simple_form_for job, html: {data: {edit_notes_target: "form", action: "submit->edit-notes#updateNote"}} do |form| %>
            <%= form.input :notes, input_html: {data: {edit_notes_target: "input"}, :class => 'note-text', onfocus: 'this.style.height = "";this.style.height = this.scrollHeight + "px"', :rows => "10"}%>
            <%= form.submit "Save" %>
          <% end %>
        </div>
      </div>
      <div class="appointments d-flex justify-content-between">
        <div>
          <strong>Appointments:</strong>
          <p class="appointment">no appointments</p>
        </div>
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target= "#jobs<%= job.id %>" >
            Edit this job
          </button>
          <%= render "modal", job: job %>
        </div>
      </div>
    </div>
  </div>
</div>
