<div class="container" style="margin-bottom: 100px; margin-top: 50px;">
  <div class="row gx-4" data-show-notification-target="page">
    <div class="col-lg-3 job-stats my-2">
      <h4>Hello, <%= current_user.first_name.capitalize %>!</h4>
      <br>
      <!-- display badges -->
      <br>
      <h3>Application progress</h3>
      <div data-controller="chart" data-chart-data-value="<%= @data_value %>" class="p-2 align-items-center">
        <canvas data-chart-target="canvas" id="myChart" width="500" height="500"></canvas>
      </div>
      <div class="job-stats my-2">
        <h4>Achievements</h4>
        <div data-controller="badges">
          <div class="d-flex flex-wrap">
            <% current_user.badges.each do |badge| %>
              <div class="position-relative">
                <div data-action="mouseenter->badges#show mouseleave->badges#hide" data-badges-target="badgeImage" class="flex-fill p-2"><%= image_tag badge.custom_fields[:icon], class: "badges", alt: "text" %></div>
                <%= render "badges_description", badge: badge %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between align-items-center my-2">
        <h4>Your jobs</h4>
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" style="margin-bottom: 8px;" data-bs-toggle="modal" data-bs-target="#jobs<%= @new_job.id %>">
            Add new job
          </button>
          <%= render 'modal', job: @new_job %>
        </div>
      </div>
      <div class="container jobs list-group" >
        <ul class="list-inline tabs-underlined mb-4" >
          <li>
            <%= link_to jobs_path, class: "tab-underlined #{"active" unless params[:status]}" do  %>
              <span>All</span><span><%= @jobs.count %></span>
            <% end %>
          </li>
          <% Job.statuses.keys.each do |status| %>
            <li>
              <%= link_to jobs_path(:status => status), class: "tab-underlined #{"active" if params[:status] == status}" do %>
                <span><%= status.capitalize %></span> <span><%= @jobs.where(status: status).count %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% @jobs_p.each do |job| %>
          <%= render 'jobs/job_list', job: job %>
        <% end %>
      </div>
      <div class='d-flex justify-content-center'>
        <% if @status_count > 4 %>
          <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="job-suggestions my-2" id="suggested-jobs">
    <h4>Job suggestions</h4>
    <br>
    <%= render 'job_suggestions', job_suggestions: @job_suggestions, jobs: @jobs %>
  </div>
</div>
