<div class="container" style="margin-bottom: 100px; margin-top: 60px;">
  <div class="row gx-5">
    <div class="col-lg-3 job-stats my-2">
      <div>
        <h3>Hello, <%= current_user.first_name.capitalize %>!</h3>
      </div>
      <br>
      <h3>Your progress</h3>
      <div data-controller="chart" data-chart-data-value="<%= @data_value %>" class="p-2 align-items-center">
        <canvas data-chart-target="canvas" id="myChart" width="500" height="500"></canvas>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="job-suggestions my-2">
        <div class="d-flex align-items-center gap-2">
          <h3>Job suggestions</h3>
          <p class="m-0 opacity-50">from TokyoDev</p>
        </div>
        <br>
        <%= render 'job_suggestions', job_suggestions: @job_suggestions %>
      </div>
      <br>
      <div class="d-flex justify-content-between align-items-center my-2">
        <h3>Your jobs</h3>
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jobs<%= @new_job.id %>">
            Add new job
          </button>
          <%= render 'modal', job: @new_job %>
        </div>
      </div>
      <div class="container">
        <ul class="list-inline tabs-underlined" ">
          <li>
            <%= link_to "All (#{@jobs.count})", jobs_path, class: "tab-underlined #{"active" unless params[:status]}" %>
          </li>
          <% Job.statuses.keys.each do |status| %>
            <li>
              <%= link_to "#{status.capitalize} (#{@jobs.where(status: status).count})", jobs_path(:status => status), class: "tab-underlined #{"active" if params[:status] == status}" %>
            </li>
          <% end %>
        </ul>
        <% @jobs_p.each do |job| %>
          <div>
            <%= render 'jobs/job_list', job: job %>
          </div>
        <% end %>
      </div>
      <div class='d-flex justify-content-center'>
        <% if @status_count > 5 %>
          <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
